body{
    background-color:rgb(10, 137, 196);
}
h1{
    text-align: center;
}
.PLAY-BUTTON{
    background-color: gray;
    text-align: center;
    height: 100px;
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
}
.button_span{
    margin-right: 12px;
}
#first_button{
    margin-left: 30px;
}
.würfel_span{
    margin-left: 10px;
}
#first_würfel{
    margin-left: 30px;
}
